html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.monitor {
    background-image: url("../images/AppBackgraund.png");
    background-size: auto;
    width: 600px;
    height: 350px;
    position: fixed;
    padding: 50px;
    padding-left: 120px;
    padding-top: 31px;
}

.container {
    width: 360px;
    height: 205px;
    padding: 10px;
    color: black;
    margin: 0px;
    border-radius: 5px;
}

.fieldset {
    border-radius: 5px;
    padding-bottom: 2px;
    height: 185px;
}

.form {
    margin-bottom: 0px;
}

.form__element {
    padding: 0px;
    display: inline-block;
    width: 100px;
    font-size: 12px;
}

.form__label {
    width: 200px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 6px;
}

.form__label__first {
    width: 200px;
    display: inline-block;
    font-size: 12px;
}

.submit__button {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    background-color: rgb(236, 102, 7);
    font-weight: 600;
    border-radius: 5px;
}

.notice {
    font-size: 9px;
    padding-left: 130px;
}

.legend {
    font-size: 13px;
    color: black;
    font-weight: 900;
}

.loading__bar {
    position: relative;
    left: 120px;
    padding-top: 10px;
}
.signature {
    font-size: 8px;
    margin: 0px;
    color: white;
}

.icon {

}

.headline {
    width: 200px;
    text-align: center;
    font-size: 16px;
}

.text_icon {
    display: flex;
    text-align: center;
    height: 120px;
}
